$unit : 10px;


.category-select-indicator{
	height: $unit * 2;
	width: $unit * 2;
	background: grey;
}


.active-indicator{
	background: green;
};



.event-results-indicator{
	background: grey;
	height: $unit * 2;
	width: $unit * 2;
};
